html{
    height: -webkit-fill-available;
}
body{
    height: -webkit-fill-available;
    background-color: blue;
    margin: 0;
}
.ana{
    height: 60dvh;
    width: 80%;
    background-color: red;
}
.dana{
    height: 40dvh;
    width: 100%;
    background-color: black;
}